# dependencies
node_modules/

# React Native
.metro/
.cache/

# Android
android/.gradle/
android/build/
android/app/build/
*.apk
*.aab

# local config
android/local.properties

# logs
*.log

# IDE
.vscode/
.idea/

# environment
.env

# keystore
*.keystore